{%comment%}When adding next flash message bump the div's data-flash-id by 1{%endcomment%}
<div id="flash-popup" data-flash-id="1">
  <h2>Welcome to the new DelphiDabbler Code Library Documentation.</h2>
  <p>This is a new site that's currently running on alpha code. There are going to be bugs. If you discover any, please report them on the site's <a href="https://github.com/ddablib/ddablib.github.io/issues">issues page</a> (<small>GitHub account required)</small>. Thanks.</p>
  <p><strong>Warning:</strong> Many URLs <em>are</em> going to change. Refer to the <a href="https://github.com/ddablib/ddablib.github.io/blob/main/README.md">README file</a> to discover which library project's documentation has been completed.</p>
  <p class="text-center"><button type="button" class="close" id="flash-popup-close" aria-label="Close">Hide this message forever</button></p>
</div>
